### EDA & Visualization
### MSDS Summer 2024
### Final Group Project

# Police arrests from 2021-2023

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
arrests = pd.read_csv("Police_Arrests_20240702.csv")

In [4]:
arrests.head()

,ID Reference Number,Subject's race,Subject's gender,Subject's age,Ethnicity,District of occurrence,Adjacent to School,Assigned Division,Assigned Bureau,Event Date/Time
0,1,Asian,Male,43,NON-HISPANIC,6.0,0,TOD,FSB,1/1/2021 1:07
1,2,Black/African American,Male,23,NON-HISPANIC,1.0,0,RCPD,NaN,1/1/2021 0:52
2,3,Black/African American,Male,18,NON-HISPANIC,1.0,0,RCPD,NaN,1/1/2021 0:52
3,4,Black/African American,Male,21,NON-HISPANIC,1.0,0,RCPD,NaN,1/1/2021 0:52
4,5,White,Female,38,HISPANIC,4.0,0,TOD,FSB,1/1/2021 3:00

In [5]:
arrests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23510 entries, 0 to 23509
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID Reference Number     23510 non-null  int64
 1   Subject's race          23510 non-null  object
 2   Subject's gender        23510 non-null  object
 3   Subject's age           23510 non-null  int64
 4   Ethnicity               23510 non-null  object
 5   District of occurrence  23408 non-null  float64
 6   Adjacent to School      23510 non-null  int64
 7   Assigned Division       23381 non-null  object
 8   Assigned Bureau         18851 non-null  object
 9   Event Date/Time         23510 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 1.8+ MB

In [6]:
arrests.describe()

,ID Reference Number,Subject's age,District of occurrence,Adjacent to School
count,23510.00000,23510.000000,23408.000000,23510.000000
mean,11755.50000,31.813143,3.989192,0.085155
std,6786.89675,12.946909,1.748587,0.279119
min,1.00000,1.000000,1.000000,0.000000
25%,5878.25000,22.000000,3.000000,0.000000
50%,11755.50000,30.000000,4.000000,0.000000
75%,17632.75000,39.000000,5.000000,0.000000
max,23510.00000,99.000000,8.000000,1.000000

In [7]:
arrests.shape

(23510, 10)

## Missing values

In [8]:
arrests.isnull().sum()

ID Reference Number          0
Subject's race               0
Subject's gender             0
Subject's age                0
Ethnicity                    0
District of occurrence     102
Adjacent to School           0
Assigned Division          129
Assigned Bureau           4659
Event Date/Time              0
dtype: int64

## Variables

### Districts

In [9]:
arrests['District of occurrence'].value_counts()

District of occurrence
3.0    4782
6.0    4748
4.0    4563
5.0    3820
1.0    2513
2.0    2196
8.0     786
Name: count, dtype: int64

In [10]:
arrests['District of occurrence'].unique()

array([ 6.,  1.,  4.,  3.,  5.,  2.,  8., nan])

We don't have any records for district 7, so we will assume district 8 corresponds to Montgomery County district 7.
We are basing off of the political and administrative divisions for the districts.

### Bureau

In [11]:
arrests['Assigned Bureau'].unique()

array(['FSB', nan, 'PSB', 'MSB', 'ISB'], dtype=object)

source: https://www.montgomerycountymd.gov/pol/bureaus/index.html <br>
The Police Department is structured into the Office of the Chief and five major bureaus:
- the Community Resources Bureau
- the Field Services Bureau
- the Investigative Services Bureau
- the Management Services Bureau
- the Patrol Services Bureau.<br>
        The Patrol Services Bureau, the largest and most visible bureau in the Police Department, oversees most of the Department’s uniformed officers on patrol. The Patrol Services Bureau is divided into six police districts.

In [18]:
bureaus = {'FSB': 'Field Services Bureau',
           'PSB': 'Patrol Services Bureau',
           'MSB': 'Management Services Bureau',
           'ISB': 'Investigative Services Bureau'}

### Division
District/Division of officer's assignment

Forensic Science Evidence Management Division
​Internal Affairs Division

In [24]:
arrests['Assigned Division'].unique()

divisions = {'TOD': 'Traffic Operations Division',
             'IMTD': 'Information Management and Technology Division',
             'SVID': 'Special Victims Investigations Division',
             'CID': 'Criminal Investigations Division',
             'SID': 'Special Investigations Division',
             'MCD': 'Major Crimes Division',
             'SOD': 'Special Operations Division',
             'CED': 'Community Engagement Division',
             'RCPD': 'Rockville City Police Department',
             'TPPD': 'Takoma Park Police Department',
             'GPD': 'Gaithersburg Police Department',
             'IMTD': 'Information Management and Technology Division',
             'PSTA': 'Public Safety Training Academy',
             'MCSO': 'Montgomery County Sheriff\'s Office',
             'PSCC': 'Public Safety Communications Centre',
             '1D': 'District 1',
             '2D': 'District 2',
             '3D': 'District 3',
             '4D': 'District 5',
             '5D': 'District 5',
             '6D': 'District 6'}

In [31]:
arrests['Assigned Division'][arrests['Assigned Bureau'] == "FSB"].value_counts()

Assigned Division
TOD    1033
CED     361
SOD       7
FSB       4
Name: count, dtype: int64

In [32]:
arrests['Assigned Division'][arrests['Assigned Bureau'] == "MSB"].value_counts()

Assigned Division
IMTD    463
PSTA     17
PSCC      1
PERS      1
Name: count, dtype: int64

In [33]:
arrests['Assigned Division'][arrests['Assigned Bureau'] == "ISB"].value_counts()

Assigned Division
SID     254
SVID    249
MCD      75
CID      74
ISB       3
Name: count, dtype: int64

In [34]:
arrests['Assigned Division'][arrests['Assigned Bureau'] == "PSB"].value_counts()

Assigned Division
3D      4331
4D      3908
5D      3502
2D      1870
6D      1766
1D       926
MCSO       6
Name: count, dtype: int64