### EDA & Visualization
### MSDS Summer 2024
### Final Group Project

# Police arrests from 2021-2023

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
arrests = pd.read_csv("Police_Arrests_20240702.csv")

In [3]:
arrests.head()

,ID Reference Number,Subject's race,Subject's gender,Subject's age,Ethnicity,District of occurrence,Adjacent to School,Assigned Division,Assigned Bureau,Event Date/Time
0,1,Asian,Male,43,NON-HISPANIC,6.0,0,TOD,FSB,1/1/2021 1:07
1,2,Black/African American,Male,23,NON-HISPANIC,1.0,0,RCPD,NaN,1/1/2021 0:52
2,3,Black/African American,Male,18,NON-HISPANIC,1.0,0,RCPD,NaN,1/1/2021 0:52
3,4,Black/African American,Male,21,NON-HISPANIC,1.0,0,RCPD,NaN,1/1/2021 0:52
4,5,White,Female,38,HISPANIC,4.0,0,TOD,FSB,1/1/2021 3:00

In [4]:
arrests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23510 entries, 0 to 23509
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID Reference Number     23510 non-null  int64
 1   Subject's race          23510 non-null  object
 2   Subject's gender        23510 non-null  object
 3   Subject's age           23510 non-null  int64
 4   Ethnicity               23510 non-null  object
 5   District of occurrence  23408 non-null  float64
 6   Adjacent to School      23510 non-null  int64
 7   Assigned Division       23381 non-null  object
 8   Assigned Bureau         18851 non-null  object
 9   Event Date/Time         23510 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 1.8+ MB

In [6]:
arrests.describe()

,ID Reference Number,Subject's age,District of occurrence,Adjacent to School
count,23510.00000,23510.000000,23408.000000,23510.000000
mean,11755.50000,31.813143,3.989192,0.085155
std,6786.89675,12.946909,1.748587,0.279119
min,1.00000,1.000000,1.000000,0.000000
25%,5878.25000,22.000000,3.000000,0.000000
50%,11755.50000,30.000000,4.000000,0.000000
75%,17632.75000,39.000000,5.000000,0.000000
max,23510.00000,99.000000,8.000000,1.000000